@model BookStoreMVC.ViewModels.ChangePasswordViewModel
@{
    ViewData["Title"] = "Change Password";
    Layout = "_Layout";
}

<section id="hero">
    <!-- Flex Container -->
    <div class="container max-w-7xl min-h-screen gap-5 flex items-start px-6 mx-auto space-y-0  mt-10">
        @* Side Bar *@
        @Html.Partial("_SideBarPartial")
        @* Side Bar *@

        <div class=" basis-3/4  flex flex-col gap-10 py-5">
            @* Title *@
            <h1 class="text-4xl text-titleText font-bold">Change Password</h1>
            @* Title *@



            @* Form *@
            <form asp-controller="Authentication" asp-action="ChangePassword" class="grid grid-cols-2 gap-10"
                method="post">
                <div class="col-span-2">
                    <label class="font-medium" asp-for=@Model.OldPassword></label>
                    <input asp-for=@Model.OldPassword
                        class="w-full  text-base px-4 py-3 border-2  border-gray-300 bg-gray-100 rounded-lg focus:outline-none focus:border-primary duration-300 transition-colors"
                        type="password">
                    <span asp-validation-for=@Model.OldPassword class="text-red-600 "></span>
                </div>

                <div class="col-span-2">
                    <label class="font-medium" asp-for=@Model.NewPassword></label>
                    <input asp-for=@Model.NewPassword
                        class="w-full  text-base px-4 py-3 border-2  border-gray-300 bg-gray-100 rounded-lg focus:outline-none focus:border-primary duration-300 transition-colors"
                        type="password">
                    <span asp-validation-for=@Model.NewPassword class="text-red-600 "></span>
                </div>

                <div class="col-span-2">
                    <label class="font-medium" asp-for=@Model.PasswordConfirm></label>
                    <input asp-for=@Model.PasswordConfirm
                        class="w-full  text-base px-4 py-3 border-2  border-gray-300 bg-gray-100 rounded-lg focus:outline-none focus:border-primary duration-300 transition-colors"
                        type="password">
                    <span asp-validation-for=@Model.PasswordConfirm class="text-red-600 "></span>
                </div>



            </form>

        </div>

    </div>

    <!-- End Right item -->
</section>