@{
    ViewData["Title"] = "Change Password";
    Layout = "_Layout";
}

<section id="hero">
    <!-- Flex Container -->
    <div class="container max-w-7xl min-h-screen gap-5 flex items-start px-6 mx-auto space-y-0  mt-10">
        @* Side Bar *@
        @Html.Partial("_SideBarPartial")
        @* Side Bar *@

        <div class=" basis-3/4  flex flex-col gap-10 py-5">
            @* Title *@
            <h1 class="text-4xl text-titleText font-bold">Change Password</h1>
            @* Title *@



            @* Form *@
            <form class="grid grid-cols-2 gap-10" action="">
                <div class="col-span-2">
                    <label class="font-medium" for="">Old Password</label>
                    <input
                        class="w-full  text-base px-4 py-3 border-2  border-gray-300 bg-gray-100 rounded-lg focus:outline-none focus:border-primary duration-300 transition-colors"
                        type="text">
                </div>

                <div class="col-span-2">
                    <labe class="font-medium" for="">New Password</labe>
                    <input
                        class="w-full  text-base px-4 py-3 border-2  border-gray-300 bg-gray-100 rounded-lg focus:outline-none focus:border-primary duration-300 transition-colors"
                        type="text">
                </div>



            </form>

        </div>

    </div>

    <!-- End Right item -->
</section>