@{
    ViewData["Title"] = "Check Out";
}
<h1>@ViewData["Title"]</h1>

<section>
    <div class="mt-10">
        <form id="payment-form">
            <div id="payment-element">
                <!--Stripe.js injects the Payment Element-->
            </div>
            <button id="submit">
                <div class="spinner hidden" id="spinner"></div>
                <span id="button-text">Pay now</span>
            </button>
            <div id="payment-message" class="hidden"></div>
        </form>
    </div>
</section>
