@model BookStoreMVC.ViewModels.Admin.AddRoleViewModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>title</h2>
<form method="post">
    <input asp-for="@Model.Name"/>
    <button type="submit">Add</button>
</form>
