@model BookStoreMVC.ViewModels.LoginViewModel
@{
    ViewBag.Title = "Login";
    Layout = "_Layout";
}

<div class="flex  justify-center bg-gradient-to-tr from-primary2-400 to-teal-300 min-h-screen">
    @* Welcome back *@
    <div class="flex-col flex  self-center p-10 sm:max-w-5xl xl:max-w-2xl  z-10">
        <div class="self-start flex flex-col  text-white">

            <h1 class="mb-3 font-bold text-5xl">Hi, Welcome Back ! </h1>
            <p class="pr-3">Lorem ipsum is placeholder text commonly used in the graphic, print,
                and publishing industries for previewing layouts and visual mockups</p>
        </div>
    </div>
    @* Welcome back *@
    <div class="flex justify-center self-center z-10 rounded-2xl shadow-lg overflow-clip max-w-md">
        <div class="p-12 bg-white mx-auto w-100 ">

            @* Sign in *@
            <div class="mb-4">
                <h3 class="font-semibold text-3xl text-titleText">Sign In </h3>
                <p class="text-gray-500">Please sign in to your account.</p>
            </div>
            @* Sign in *@

            @* Email *@
            <form asp-action="SignIn" method="post" class="space-y-5">
                <div class="space-y-2">
                    <label asp-for=@Model.Username class="text-sm font-medium text-gray-700 tracking-wide">Email</label>
                    <input asp-for=@Model.Username
                        class=" w-full text-base px-4 py-2 border-2  border-gray-300 rounded-lg focus:outline-none focus:border-primary transition-colors duration-300"
                        type="email" placeholder="nbi6731@gmail.com">
                    <span asp-validation-for=@Model.Username class="text-red-700"></span>
                </div>
                @* Email *@

                @* Password *@
                <div class="space-y-2">
                    <label asp-for=@Model.Password class="text-sm font-medium text-gray-700 tracking-wide"></label>
                    <input asp-for=@Model.Password
                        class=" w-full text-base px-4 py-2 border-2  border-gray-300 rounded-lg focus:outline-none focus:border-primary transition-colors duration-300"
                        type="password" placeholder="Enter Password">
                    <span asp-validation-for=@Model.Password class="text-red-700"></span>
                </div>
                @* Password *@

                <div class="flex items-center justify-between">
                    <div class="flex items-center">
                        <input id="remember_me" name="remember_me" type="checkbox"
                            class="h-4 w-4 bg-primary focus:ring-primary2-400 border-gray-300 rounded">
                        <label for="remember_me" class="ml-2 block text-sm text-gray-800">
                            Remember me
                        </label>
                    </div>
                    <div class="text-sm">
                        <a href="#" class="text-primary2-400 hover:text-primary2-600">
                            Forgot your password?
                        </a>
                    </div>
                </div>
                <div>
                    <button type="submit"
                        class="w-full flex justify-center bg-primary2-400 hover:bg-primary text-gray-100 p-3  rounded-full tracking-wide font-semibold  shadow-lg cursor-pointer transition ease-in duration-500">
                        Sign In
                    </button>
                </div>
            </form>

            <div class="mt-9 text-center">
                <h2>Don't have an account? <a asp-action="SignUp" class="text-primary hover:underline">Sign Up</a></h2>
            </div>

        </div>
    </div>

</div>