@{
    ViewData["Title"] = "Books";
    Layout = "_Layout";
}

<section id="bookBrowse">
  <!-- Flex Container -->
  <div class="container max-w-7xl flex items-center px-6 mx-auto mt-10 space-y-0 ">
    <h1 class="text-7xl">Hello</h1>
  </div>

</section>