@using BookStoreMVC.Helpers
@using System.Security.Claims;
@using Microsoft.AspNetCore.Identity;
@using BookStoreMVC.Controllers
@inject IHttpContextAccessor HttpContextAccessor
@inject UserManager<User> UserManager
@inject SignInManager<User> SignInManager


@{

    string CARTKEY = "";
    if (SignInManager.IsSignedIn(User))
    {
        CARTKEY = User.FindFirstValue(ClaimTypes.NameIdentifier);
    }
    var session = HttpContextAccessor.HttpContext.Session;
    var cart = SessionHelper.GetObjectFromJson<List<ShoppingCartItem>>(session, CARTKEY);
    if (cart != null && cart.Count() > 0)
    {

        <div
        class="inline-flex absolute -top-2 -right-2 justify-center items-center w-5 h-5 text-[8px] font-bold text-white bg-red-500 rounded-full border-2 border-white">
            @cart.Count()
        </div>
    }

}