<!DOCTYPE html>
<html lang="en">

<head>
    @Html.SeoTags()
    <link rel="stylesheet" href="~/css/output.css" asp-append-version="true" />

</head>

<body class="font-inter bg-backGr">
    <!-- Navbar -->
    @Html.Partial("_NavbarPartial")
    <!-- End Nav -->

    <!--Main Content-->

    <div class="fb-share-button" data-href="https://localhost:7278/" data-layout="button_count">
    </div>
    @RenderBody()

    </div>

    <!--End Main Content-->


    <!--Footer-->
    @Html.Partial("_FooterPartial")
    <!--Footer-->

    <script src="https://js.stripe.com/v3/"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script>
        window.fbAsyncInit = function () {
            FB.init({
                appId: '1085574038877738',
                xfbml: true,
                version: 'v15.0'
            });
            FB.AppEvents.logPageView();
        };

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) { return; }
            js = d.createElement(s); js.id = id;
            js.src = "https://connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>


    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>