<!DOCTYPE html>
<html lang="en">

<head>



    @Html.SeoTags()

    @* Main css *@
    <link rel="stylesheet" href="~/css/output.css" asp-append-version="true" />
    @* Main css *@

    <!-- Google Analystics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-YREDV0DEMV"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-YREDV0DEMV');
    </script>
    <!-- Google Analystics -->


</head>

<body class="font-inter bg-backGr">


    <!-- Navbar -->
    @Html.Partial("_NavbarPartial")
    <!-- End Nav -->



    <!--Main Content-->
    <div class="mx-auto  min-h-screen ">
        @RenderBody()
    </div>

    <!--End Main Content-->


    <!--Footer-->
    @Html.Partial("_FooterPartial")
    <!--Footer-->

    <!-- Messenger Chat Plugin Code -->
    <div id="fb-root"></div>

    <!--  Chat Plugin code -->
    <div id="fb-customer-chat" class="fb-customerchat">
    </div>
    <!-- Messenger Chat Plugin Code -->
    <div id="fb-root"></div>

    <!-- Your Chat Plugin code -->
    <div id="fb-customer-chat" class="fb-customerchat">
    </div>


    <script>
        var chatbox = document.getElementById('fb-customer-chat');
        chatbox.setAttribute("page_id", "107380592227881");
        chatbox.setAttribute("attribution", "biz_inbox");
    </script>

    <script>
        window.fbAsyncInit = function () {
            FB.init({
                xfbml: true,
                version: 'v15.0'
            });
        };

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = 'https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js';
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>

    <!-- Messenger Chat Plugin Code -->


    <script src="https://js.stripe.com/v3/"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/flowbite.js"></script>




    @* Sharethis*@
    <script type="text/javascript"
        src="https://platform-api.sharethis.com/js/sharethis.js#property=639ecabe4b058f001938ca18&product=inline-share-buttons&source=platform"
        async="async"></script>
    @* Sharethis*@

    <!--Tawk.to Script-->
    <script type="text/javascript">
        var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
        (function () {
            var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
            s1.async = true;
            s1.src = 'https://embed.tawk.to/63a26301b0d6371309d56806/1gkp55g53';
            s1.charset = 'UTF-8';
            s1.setAttribute('crossorigin', '*');
            s0.parentNode.insertBefore(s1, s0);
        })();
    </script>
    <!--Tawk.to Script-->




    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>