<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BookStoreMVC</title>
    <link rel="stylesheet" href="~/css/output.css" asp-append-version="true" />


</head>
<body class="font-inter">
    <!-- Navbar -->
    <nav class="relative container mx-auto p-6 bg-fade">
      <!-- Flex container -->
      <div class="flex items-center justify-between">
        <!-- Logo -->
        <div >
          <h1 >Logo</h1>
        </div>
        <!-- Menu Items -->
        <div class=" space-x-6 flex">
          <a href="#" class="hover:text-darkGrayishBlue">Home</a>
          <a href="#" class="hover:text-darkGrayishBlue">Book</a>
          <a href="#" class="hover:text-darkGrayishBlue">About Us</a>
          <a href="#" class="hover:text-darkGrayishBlue">Careers</a>
          <a href="#" class="hover:text-darkGrayishBlue">Community</a>
        </div>
        <!-- Button -->
        <a
          href="#"
               class=" p-3 px-6 pt-2 text-white bg-slate-800 rounded-full baseline transition-colors hover:bg-fade block">Get Started</a>

       
    </nav>

        <!--Main Content-->
      
            <div class="container mx-auto">
                @RenderBody();
            </div>
    

        <!--Sidebar-->
        




    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - BookStoreMVC - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>