<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BookStoreMVC</title>
    <link rel="stylesheet" href="~/css/output.css" asp-append-version="true" />

</head>

<body class="font-inter bg-backGr">
    <!-- Navbar -->
    @Html.Partial("_NavbarPartial")
    <!-- End Nav -->

    <!--Main Content-->

    <div class="mx-auto  min-h-screen ">
        @RenderBody()

    </div>

    <!--End Main Content-->


    <!--Footer-->
    @Html.Partial("_FooterPartial")
    <!--Footer-->

    <script src="https://js.stripe.com/v3/"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>


    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>